OPENSTACK_AUTH_URL=http://10.3.xx.xx:5000/v3
OPENSTACK_USERNAME=admin
OPENSTACK_PASSWORD=changeme
OPENSTACK_PROJECT_NAME=admin
OPENSTACK_USER_DOMAIN_NAME=Default
OPENSTACK_PROJECT_DOMAIN_NAME=Default
OPENSTACK_REGION_NAME=RegionOne
OPENSTACK_INTERFACE=public
OPENSTACK_KEYSTONE_URL=http://10.3.xx.xx:5000/v3
OPENSTACK_GLANCE_URL=http://10.3.xx.xx:9292
OPENSTACK_PLACEMENT_URL=http://10.3.xx.xx:8778
OPENSTACK_NOVA_URL=http://10.3.xx.xx:8774/v2.1/{project_id}
OPENSTACK_NEUTRON_URL=http://10.3.xx.xx:9696
OPENSTACK_CINDER_URL=http://10.3.xx.xx:8776/v3/{project_id}
OPENSTACK_CONSOLE_PUBLIC_HOST=10.3.xx.xx
OPENSTACK_CONSOLE_HOST_ALIASES=controller,os-controller01,OS-controller01

BACKEND_CORS_ORIGINS=http://localhost:5173
DASHBOARD_READ_ONLY=true
OPENSTACK_TIMEOUT_SECONDS=8
CACHE_TTL_SECONDS=8
BACKEND_PORT=8000
FRONTEND_PORT=5173

LAB_CONTROLLER_NAME=OS-controller01
LAB_CONTROLLER_IP=10.3.xx.xx
LAB_COMPUTE01_NAME=OS-compute01
LAB_COMPUTE01_IP=10.3.xx.xx
LAB_COMPUTE02_NAME=OS-comput02
LAB_COMPUTE02_IP=10.3.xx.xx
PROVIDER_SUBNET=10.3.16.0/23
OVS_PROVIDER_BRIDGE=br-provider
OVS_INTEGRATION_BRIDGE=br-int
OVS_MAPPING=provider:br-provider
CINDER_BACKEND_HOST=os-comput02@lvm#lvm
CINDER_VOLUME_GROUP=cinder-volumes
